body {
  font-family: cursive;
}

.container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.row > * {
  flex: 25%;
}
