.center {
  text-align: center;
}

.p-3 {
  padding: 1.2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .amazingLogo {
    animation: logo-spin infinite 100s linear;
  }
  .amazingLogoReverse {
    animation: logo-spin-reverse infinite 100s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes logo-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
